body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
  color: #73666a;
}
a {
  text-decoration: none;
  font-size: 16px;
}
a:link{ color: #4293dc; }

a:visited{ color: #4293dc; }

a:hover{ color: #4293dc;}

a:active{color: #4293dc;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
